@import url(~fullpage.js/dist/fullpage.min.css);

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f8ee86;
  color: black;
  z-index: 10;
  font-family: "Roboto", sans-serif;
  img {
    margin-left: 20px;
  }
}
.section {
  margin-top: 60px;
}

#sketch-0 {
  display: block;
  width: 100px;
}

.sketchsection {
  position: relative;
  .typewriter {
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    line-height: 100px;
    margin-top: -100px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    #typewriter-text{
      color: white;
      font-size: 30px;
      font-size: 5vw;
      border-right: 0.15em solid orange;
      -webkit-animation: caret 0.7s steps(1) infinite;
      animation: caret 0.7s steps(1) infinite;
      font-family: "Roboto", sans-serif;
      font-weight: bold;

    }
  }
  .scroll-icon{
    position: absolute;
    top: calc(100% - 140px);;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
    }
  }
}





